.Menu {
  height: 40px;
  position: sticky;
  color: aliceblue;
  text-align: center;
  line-height: 40px;
  background-color: #1b1f27;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.Slide {
  cursor: pointer;
  text-align: center;
}
.Slide:hover {
  color: aliceblue;
}
.Slide:active {
  background-color: rgba(240, 248, 255, 0.103);
  transition: 0.1s;
}
.Icon {
  font-size: 30pt;
}



