.Group {
  /* min-width: 600px; */  
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 4px;
  background-color: #243a5d;
  border: 1px solid rgb(151, 35, 70);
}
.FlexRow {
  display: flex;
  align-items: center;
  border: 1px solid rgb(35, 52, 151);
}
