
.RowContainer {
  display: inline-flex;
  align-items: center;
  margin: 1px;
  border: 1px solid rgb(134, 100, 100);
}

.on,
.active,
.inactive {
  color: rgba(46, 52, 61, 0.246);
  display: flex;
  text-align: center;
  align-items: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  /* margin: 4px; */
  padding: 1px 2px 4px ;
  /* border: 1px solid rgba(192, 220, 255, 0.712); */
}
.on {
  color: #3d84ff;
}
.on {
  color: #d8d8dad8;
}
.on:hover {
  cursor: pointer;
}
.active {
  --btn-color: #616d81;
  /* --btn-color: #a13d24; */
  color: var(--btn-color);
}
.active:hover {
  cursor: pointer;
  color: #8a9ab1;
}
.on:active,
.active:active {
  transition: 0.1s;
  color: rgba(240, 248, 255, 0.198);
}

.acti {
  
  color: rgb(125, 194, 255);
}
