:root {
  --btn-color: #000000b6;
  --btn-hover: #000000;
  --btn-active: #00000098;
}

.button {
  color: var(--btn-color);
  cursor: pointer;
  display: flex; 
  width: 20px;
  height: 20px;
  padding: 1px 2px 4px;
  margin: 0 auto;
  /* border:1px solid black ; */
}
.button:hover {
  color: var(--btn-hover);
}
.button:active {
  transition: 0.1s;
  color: var(--btn-active);
}
