:root {
  --btn-color: #ffffff;
  --btn-hover: #1827f1ec;
  --btn-active: #18f147ec;
}

.button {
  color: var(--btn-color);
  cursor: pointer;
  display: flex; 
  width: 20px;
  height: 20px;
  padding: 1px 2px 4px;
}
.button:hover {
  color: var(--btn-hover);
}
.button:active {
  transition: 0.1s;
  color: var(--btn-active);
}
