.Default,
.Home,
.Crud { 
  color: rgba(206, 224, 247, 0.931);
  display: inline-block;
  /* border: 1px solid rgba(192, 220, 255, 0.712); */
}
.Default:hover,
.Home:hover,
.Crud:hover {
  cursor: pointer;
  color: aliceblue;
}
.Default:active,
.Home:active,
.Crud:active {
  transition: 0.1s;
  color: rgba(240, 248, 255, 0.198);
}
.Home {
  margin-right: 10px;
  color: #616d81;
}
.Home:hover {
  color: #8a9ab1;
}
.Home:active {
  color: rgb(167, 184, 199);
}
.Crud {
  width: 30px;
  height: 30px;
  margin: 6px;
  color: #616d81;
}
.Crud:hover {
  color: #8a9ab1;
}
.Crud:active {
  color: rgb(167, 184, 199);
}
