.Default,
.Home,
.FolderCrud,
.Crud {
  color: rgba(206, 224, 247, 0.931);
  display: flex;
  text-align: center;
  align-items: center;
  /* border: 1px solid rgba(192, 220, 255, 0.712); */
}
.FolderCrud {
  margin:4px;
  border-radius: 4px;
  background-color: #272e38;
  color: #616d81;
}
.Default:hover,
.Home:hover,
.FolderCrud:hover,
.Crud:hover {
  cursor: pointer;
  color: #8a9ab1;
}
.Default:active,
.Home:active,
.Crud:active,
.FolderCrud:active {
  transition: 0.1s;
  color: rgba(240, 248, 255, 0.198);
}
.Home {
  margin-right: 10px;
  color: #616d81;
}
.Home:hover {
  color: #8a9ab1;
}
.Home:active {
  color: rgb(167, 184, 199);
}
.Crud {
  width: 30px;
  height: 30px;
  margin: 6px;
  color: #616d81;
}
.Input {
  font-size: large;
  color: rgb(202, 202, 202);
  background: transparent;
  border-color: rgba(51, 148, 238, 0.667);
  /* border: none;
  border-bottom: 1px solid rgb(255, 255, 255); */
}
