.Header {
  margin: 0 auto;
  position: sticky;
  max-width: 960px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}
.Slider {
  /* border: 2px solid greenyellow; */
  height: 80px;
  padding: 0px 40px 0px 40px;
  overflow: hidden;
  /* background-color: #3b485d; */
  background-color: #243a5d;
  color: rgba(192, 220 , 255, 0.712);
}
.BaseName,.FolderName{
  display: flex;
  align-items: center;
  border: 1px solid rgb(134, 100, 100)
}

.FolderName{
  justify-content: center;
  border: 1px solid rgb(98, 156, 134)
}
.TemplateGrid {
  border: 1px solid black;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1176px;
}
.FlexRow {
  display: flex;
  align-items: center;
  border: 1px solid rgb(35, 52, 151);
}
.FlexColumn {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(35, 52, 151);
}
