.Navigation{
  background-color: rgb(37, 0, 200);
  min-width: 100%;
  margin:auto;
  display: flex;
}
.NavName {
  border: 2px solid rgb(200, 255, 0);
  margin: auto; 
   min-width: 90%;
  font-size: 1.3em;
}
